.channel-show-main {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    bottom: 0;
    right: 0;
    left: 236px;
    top: 69px;
    background-color: #171717;
    border-left: 0.1px solid gray;
    border-top: none;
    font-family: "Poppins", sans-serif;
}

.channel-message-index {
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
}

.channel-show-message-container {
    overflow: scroll;
    bottom: 40px;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

.channel-show-message-render {
    background-color: #171717;
    width: 98%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-left: 0.1px solid gray;
}

.channel-message-picture {
   width: 36px;
   height: auto;
   margin-left: 4px;
   margin-right: 10px;
   margin-top: 5px;
   border-radius: 4px;
}

.timestamp {
    color: lightgray;
    font-size: 10px;
    font-weight: 100;
}

.channel-show-message-render:hover {
    background-color: #222529;
} 

.channel-message-title {
    color: oldlace;
    padding: 4px;
    padding-left: 0px;
}

.channel-message-body {
    font-family: sans-serif;
    font-weight: 100;
    color: lightgray;
    font-size: 14px;
}

.bottom {

}