.channel-header-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 79%;
    height: 69px;
    display: flex;
    background-color: #1C1E22;
    border-bottom: 0.1px solid gray;
    border-left
    : 0.1px solid gray;
}

.channel-header-left {
    display: flex;
    justify-content: flex-start;
}

.channel-header-right {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.channel-header-title {
    color: oldlace;
    font-weight: bold;
    /* padding: 4px;
    padding-left: 6px; */
    font-size: 22px;
    margin-top: 26px;
    font-family: "Poppins", sans-serif;
    margin-left: 3%;
}

.channel-header-subscribe {
    display: flex;
    background-color: inherit;
    height: 30px;
    color: oldlace;
    border: solid 1px gray;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 20px;
}

.channel-darkmode-selector {
    background-color: #1C1E22;
    font-size: 12px;
    border: solid 1px gray;
    border-radius: 5px;
    color: oldlace;
    font-family: "Poppins", sans-serif;
    margin-top: 24px;
    margin-left: 10px;
    height: 25px;
}

.channel-header-search {
    color: lightgray;
    font-weight: bold;
    font-size: 14px;
    background-color: #1C1E22;
    border: solid 1px gray;
    border-radius: 5px;
    width: 40%;
    padding: 4px 20px;
    font-family: "Poppins", sans-serif;
    margin-left: 40%;
    margin-top: 20px;
    height: 25px;
}

.channel-header-search:hover {
    background-color: #363636;
}