.login-form-page {
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #f8f8f8;
    position: absolute;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
}

.login-error-container {
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
}

.login-errors {  
    display: inline-block;
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 5px;
    box-shadow: 0 1px 2px gray;
    margin-top: 15px; 
    line-height: 30px;
    padding: 2px 6px;
    border-left: solid 3px red;
}

.login-form-main {
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 5px;
    z-index: 2;
    margin-top: 40px;
    width: 600px;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 1px 4px gray;
}

.login-form-title {
    margin-top: 50px;
    font-size: 44px;
    font-weight: bold;
}

.login-input-header {
    font-size: 16px;
    margin-bottom: 6px;
    color: darkslategray;
}

.login-form-input-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-header-bold {
    font-weight: bold;
}

.login-form-input {
    width: 360px;
    height: 35px;
    margin-top: 12px;
    border: solid 1px #868686;
    border-radius: 5px;
    outline: none;
}

.login-form-input::placeholder {
    font-size: 15px;
    padding-left: 2px;
}

.login-form-input[type=text], .login-form-input[type=password], .login-form-input[type=email] {
    font-size: 15px;
    padding-left: 2px;
}

.login-submit-button {
    background-color: #007a5a;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 150px;
    margin-top: 5px;
    border-radius: 5px;
    outline: none;
}

.demo-submit-button {
    background-color: #007a5a;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
    padding: 10px 100px;
    border-radius: 5px;
    outline: none;
}

.login-form-input:hover {
    background-color: #e8f0fe;
}

.login-submit-button:hover {
    box-shadow: 0 1px 4px gray;
}

.demo-submit-button:hover {
    box-shadow: 0 1px 4px gray;
}

.login-link-container {
    flex-direction: row;
}

.forgot-password-link, .forgot-email-link {
    text-decoration: none;
    color: #1264a3;
    font-size: 15px;
    margin: 10px;   
}