.modal-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
}

.modal-render {
    background-color: #222629;
    border: 1px solid gray;
    border-radius: 5px;
    /* opacity: 1; */
    top: 8%;
    bottom: 24%;
    left: 6%;
    right: 6%;
    z-index: 6;
    position: absolute;
}