.sidebar-main-container {
    top: 0;
    left: 0;
    height: 99.7%;
    width: 21%;
    background-color: #222629;
    position: absolute;
    font-family: sans-serif;
    border: 1px solid gray;
}

.sidebar-currentuser-greeting {
    color: oldlace;
    font-weight: bold;
    padding: 4px;
    padding-left: 4%;
    font-size: 24px;
    margin-top: 5%;
    font-family: "Poppins", sans-serif;
    margin-left: 2%;
}

.sidebar-logout-button {
    background-color: #222629;
    font-size: 13px;
    border: none;
    color: lightgray;
    margin-top: 2px;
    margin-left: 3%;
    padding: 0px 18px;
    font-family: "Poppins", sans-serif;
    outline: none;
}

.sidebar-logout-button:hover {
    color: oldlace;
}

.sidebar-jump-to {
    color: lightgray;
    font-weight: bold;
    font-size: 14px;
    background-color: #4d4d4f;
    width: 82%;
    margin-top: 18px;
    border: none;
    border-radius: 5px;
    margin-left: 5%;
    padding: 6px;
    font-family: "Poppins", sans-serif;
}

.sidebar-channels-title {
    margin-top: 30px;
    margin-left: 5%;
    font-weight: bold;
    font-size: 20px;
    color: oldlace;
    font-family: "Poppins", sans-serif;
}

.sidebar-add-dm-icon {
    color: #818385;
    margin-left: 12%;
    font-size: 23px;
}

.sidebar-add-dm-icon:hover {
    color: oldlace;
}

.sidebar-channels-render {
    margin-top: 6px;
    color: oldlace;
    font-weight: 100;
    font-size: 14px;
    text-decoration: none;
}

.sidebar-channels-render > ul > li > button {
    margin-left: 6%;
    color: lightgray;
    font-weight: 100;
    font-size: 15px;
    text-decoration: none;
    background-color: #222629;
    border: none;
    outline: none;
    padding: 8px 0px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.sidebar-channels-render > ul > li:hover {
    background-color: #363636;
}

.sidebar-channels-render > ul > li > button:hover {
    background-color: #363636;
    color: oldlace;
}

.sidebar-new-channel {
    margin-left: 5%;
    margin-top: 16px;
    color: oldlace;
    font-weight: 100;
    font-size: 17px;
    text-decoration: none;
}

.sidebar-dms-title {
    margin-top: 30px;
    margin-left: 5%;
    font-weight: bold;
    font-size: 20px;
    color: oldlace;
    font-family: "Poppins", sans-serif;
}

.sidebar-dms-render {
    /* margin-left: ; */
    margin-top: 6px;
    color: lightgray;
    font-weight: 100;
    font-size: 15px;
    text-decoration: none;
}

.sidebar-dms-render > ul > li > button {
    margin-left: 6%;
    color: lightgray;
    font-weight: 100;
    font-size: 15px;
    text-decoration: none;
    background-color: #222629;
    border: none;
    outline: none;
    padding: 8px 0px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.sidebar-dms-render > ul > li > button:hover {
    background-color: #363636;
    color: oldlace;
}

.sidebar-dms-render > ul > li:hover {
    background-color: #363636;
}
