direct_message.user-search-form-container {
    background-color: inherit;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    justify-content: center;
}

.user-search-input {
    width: 100%;
    height: 30px;
    font-size: 24px;
    background-color: inherit;
    border: none;
    border-bottom: solid 1px gray;
    outline: none;
    color: oldlace;
    padding-top: 16px;
    padding-left: 20px;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

.user-render-container {
    overflow: scroll;
    position: absolute;
    top: 52px;
    bottom: 0;
    left: 0;
    right: 0;
}

.user-render {
    width: 100%;
    border-bottom: solid 1px #363636;
    background-color: inherit;
    color: lightgray;
    opacity: 0.8;
}

.user-render:hover {
    background-color: #363636;
    opacity: 1;
}

.user-render-picture {
   width: 30px;
   height: auto;
   margin: 5px;
   margin-left: 8px;
   border-radius: 4px;
}

.user-render-name {
    font-family: sans-serif;
    font-size: 20px;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.user-render-formalName {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: gray;
    padding-left: 16px;
    padding-bottom: 10px;
}